@font-face {
    font-family: caveat-font;
    src: url('../font/Caveat-Bold.ttf');
}
body{
    cursor: url('../img/cursor.png'), auto;

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: iransans;

}

:root {
    --main-color: #FF9124;
    --second-color: #3E321A;
}

.first-header {
    height: 150vh;
    background-color: #F6EADA;
    position: relative;
    overflow: hidden;
}

.first-header .bean1 {
    position: absolute;
    width: 550px;
    top: -200px;
    right: -50px;
    transition: 1s;
}

.first-header .bean2 {
    position: absolute;
    width: 550px;
    bottom: 0px;
    left: 0px;
    transition: 1s;

}


.header {
    height: 100vh;
    width: 85%;
    margin: 0 auto;
}


/* nav-bar started */

.nav-bar {
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 25;

}

.logo {
    font-family: 'caveat-font', 'iransans';
    font-size: 25px;
    cursor: pointer;
}

.logo span {
    font-family: 'caveat-font', 'iransans';
    color: var(--main-color);

}

.cup-logo {
    font-size: 35px;
}

.nav-bar ul {
    list-style: none;
    display: flex;
}

.nav-bar ul li {
    cursor: pointer;
    margin: 0 5px 0 5px;
    padding: 5px;
    transition: all 0.1s;
    position: relative;
    overflow: hidden;
    font-size: medium;
    text-transform: capitalize;
}

.nav-bar ul li:nth-child(1) {
    color: var(--main-color);

}

.nav-bar ul li::after {
    position: absolute;
    content: '';
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 4px solid transparent;
    transform: translateX(-100%);
    transition: .2s transform linear, .3s border linear;


}

.nav-bar ul li:hover::after {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
}

.search-bar {
    display: flex;
    align-items: center;
}

.input-container {
    position: relative;
}

.input-container input {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 2px 0px 2px 30px;
    background-color: #FEFEFE;
    box-shadow: 0 0 15px #F4D5A7;
}

.input-container button {
    position: absolute;
    left: -10px;
    bottom: 10%;
    border: none;
    outline: none;
    background-color: transparent;
}

.input-container button .fa-search {
    transition: 0.3s;
    margin-left: 20px;
}

.input-container button i:hover {
    color: brown;
}

.search-bar .fa-shopping-cart {
    margin-left: 20px;
    cursor: pointer;
    z-index: 30;
    transition: 0.3s;
}

.search-bar i:hover {
    color: var(--main-color);
}

/*! nav-bar ended */


/* header-grid started*/

.header-grid {
    height: 93vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.right-side {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 25;
}


.left-side {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    z-index: 25;

}

.left-side h2 {
    color: var(--second-color);
    grid-column: 1/7;
    grid-row: 2/6;
    font-size: 60px;
    align-items: first baseline;
}

.left-side h2 span {
    color: var(--main-color);

}

.left-side p {
    grid-column: 1/5;
    grid-row: 5/7;
    align-self: center;
    font-size: 20px;
}

.left-side p span {
    font-size: 25px;
}

.left-side button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}


.left-side .order-btn {
    grid-column: 1/2;
    grid-row: 7/8;
    align-self: center;
    background-color: var(--second-color);
    color: #ececec;
    padding: 5px 0 5px 0;
    border-radius: 15px;
    transition: 0.3s !important;
}

.left-side .order-btn:hover {
    background-color: var(--main-color);
    color: var(--second-color);
}

.left-side .show-more-btn {
    grid-column: 2/3;
    grid-row: 7/8;
    align-self: center;
    color: var(--main-color);
    transition: 0.3s !important;

}

.left-side .show-more-btn:hover {
    color: var(--second-color);


}

/*! header-grid ended*/


/* Popular section started*/

.Popular {
    min-height: 300px;
    width: 85vw;
    position: relative;
    top: -314px;
    margin: 0 auto;
}

.Popular h3 {
    font-size: 40px;
}

.Popular h3 span {
    text-decoration: underline 5px var(--main-color)
}

.Popular .popular-container {
    position: relative;
    top: 150px;
    width: 100%;
    height: 300px;
    background-color: #F4D5A7;
    text-align: center;
    margin: 20px auto;
    border-radius: 50px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Popular .popular-container .list-box {
    width: 300px;
    height: 330px;
    border-radius: 20px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);
    border: 10px solid rgba(255, 250, 250, 0.562);
    backdrop-filter: blur(25px);
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;

}

.Popular .popular-container .list-box:hover {
    transform: translateY(-20px) !important;

}

.list-box .img {
    width: 90%;
    height: 180px;
    background-color: #3E321A;
    overflow: hidden;
    border-radius: 25px;
    position: relative;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);



}

.list-box .img img {
    width: 100%;
    height: 100%;
}

.list-box .first-line {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
}

.list-box .second-line {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;

}

.list-box .second-line div label {
    border: 5px solid var(--main-color);
    border-radius: 5px;
    padding: 2px 5px;
    color: var(--main-color);
    font-weight: bolder;
    cursor: pointer;
    filter: saturate(0.5);
}

.second-line div input[type="radio"] {
    display: none;
}

.second-line div input[type="radio"]:checked+label {
    filter: saturate(1);

}

.shop-btn {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.shop-btn:hover {
    color: var(--main-color);
}

/*! Popular section ended */


.footer {

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.footer p {
    font-size: 20px;
    position: absolute;
    bottom: 30px;
}


/* thumb */

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #F4D5A7;
}

::-webkit-scrollbar-thumb {
    background: #F4D5A7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
}


/* loader */

.loader-container {
    position: fixed;
    z-index: 5000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #BF7C2C;
}

@keyframes wave {
    0% {
        opacity: 0;
        transform: translateY(15px)
    }

    50% {
        opacity: 1;
        transform: translateY(0)
    }

    100% {
        opacity: 0;
        transform: translateY(-15px)
    }
}

.loader ul {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
    width: 60px;
    text-align: center;
    animation: wave 2.5s infinite linear;
    animation-fill-mode: forwards;
}

.loader li {
    display: inline-block;
    background: #FAF1D9;
    height: 30px;
    width: 9px;
    border-radius: 0 100%;
    transform: rotate(12deg);
}

.cup {
    background: #F2E3B4;
    width: 60px;
    height: 54px;
    border-radius: 0 0 50% 50%;
    position: relative;
}

.cup:before {
    content: "";
    position: absolute;
    width: 66px;
    height: 20px;
    border-radius: 50%;
    background: inherit;
    left: -3px;
    top: -10px;
}

.cup:after {
    content: "";
    position: absolute;
    width: 56px;
    height: 12px;
    border-radius: 50%;
    background: #3A2F28;
    left: 2px;
    top: -6px;
}

.loader span {
    background: #F2E3B4;
    width: 13px;
    height: 20px;
    position: absolute;
    right: -13px;
    top: 10px;
    border-radius: 0 50% 50% 0;
}

.loader span:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    background: #BF7C2C;
    width: 10px;
    height: 12px;
    border-radius: 0 50% 50% 0;
}

.loader span:after {
    content: "";
    position: absolute;
    top: 40px;
    left: -50px;
    background: #F2E3B4;
    width: 40px;
    height: 8px;
    border-radius: 50%;
}

.loader-container.hidden {
    animation: fadeOutLoader 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOutLoader {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}